@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

body {
  width: 90%;
  margin: 0;
  overflow: hidden;
  padding: 80px 0;
  background: url(/img/fondo-borroso.png) no-repeat center top;
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;
}

.login-box {
  
  width: 320px;
  height: 420px;
  border-radius: 5%;
  background: #58585842;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
}

.login-box .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

.login-box h1 {
  font-family: 'Russo One', sans-serif;
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.login-box label {
  font-family: 'Russo One', sans-serif;
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}

.login-box input {
  font-family: 'Russo One', sans-serif;
  width: 100%;
  margin-bottom: 20px;
}

.login-box input[type="text"], .login-box input[type="password"] {
  font-family: 'Russo One', sans-serif;
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.login-box input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #5858584c;      /*#58585842      #b80f22*/
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.login-box input[type="submit"]:hover {
  
  cursor: pointer;
  background: #0101ffe6;
  color: #ffffff;
}

.login-box a {
  font-family: 'Russo One', sans-serif;
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}

.login-box a:hover {
  color: #fff;
}
